<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Customer Bill Analytics
          </h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-file text-dark"></i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <!-- <a
              href="javascript:void(0)"
              class="btn btn-sm btn-default"
              (click)="openModal(addModal, undefined)"
            >
              Add Presentment
            </a> -->

          <!-- <select #langSelect (change)="translate.use(langSelect.value)">
              <option
                *ngFor="let lang of translate.getLangs()"
                [value]="lang"
                [selected]="lang === translate.currentLang"
                >{{ lang }}</option
              >
            </select> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header border-0 bg-secondary">
          <h3 class="mb-0">Customer Bill Analytics</h3>
        </div>

        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th data-sort="name" scope="col">Unbilled</th>
                <th data-sort="budget" scope="col">Last Billed</th>
              </tr>
            </thead>
            <tbody class="list">
              <tr>
                <td class="budget">RM 250</td>
                <td class="budget">RM 150</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col text-right">
      <button
        class="btn btn-default"
        (click)="openModal(viewReceipt2, undefined)"
      >
        History
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row">
            <div class="col">
              <h3 class="m-0">Billed Predictions Analysis</h3>
            </div>
            <div class="col text-right">
              <button
                class="btn btn-sm btn-success"
                (click)="changeChart(2)"
                style="cursor: pointer;"
              >
                Yearly
              </button>
              <button
                class="btn btn-sm btn-info"
                (click)="changeChart(3)"
                style="cursor: pointer;"
              >
                Monthly
              </button>
              <button
                class="btn btn-sm btn-primary"
                (click)="changeChart(4)"
                style="cursor: pointer;"
              >
                Weekly
              </button>
              <button
                class="btn btn-sm btn-warning"
                (click)="changeChart(5)"
                style="cursor: pointer;"
              >
                Daily
              </button>
            </div>
          </div>
        </div>
        <div
          style="width: 100%; height: 450px;"
          id="chartBillCustBillAnal"
        ></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">Anomalies Detection</div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              Usage Anomalies
              <div
                style="width: 100%; height: 450px;"
                id="chartBillCustBillAnalAno1"
              ></div>
            </div>
            <div class="col">
              Call Charges
              <div
                style="width: 100%; height: 450px;"
                id="chartBillCustBillAnalAno2"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <h3 class="m-0">Prescriptive Suggestion</h3>
        </div>
        <div class="dataTables_wrapper py-4">
          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="tableEntries != -1 ? tableEntries : undefined"
            [rows]="listAnalytic"
            (activate)="onActivate($event)"
          >
            <ngx-datatable-column name="No">
              <ng-template
                let-rowIndex="rowIndex"
                let-row="row"
                ngx-datatable-cell-template
              >
                <strong>{{ rowIndex + 1 }}</strong>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Anomalies</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.anomalies }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Action</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.action }}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #viewReceipt2>
  <div class="modal-header bg-default">
    <b>Bill Comparison</b>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header border-0">
            <h3 class="mb-0">Customer Bill Analytics</h3>
          </div>

          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th data-sort="name" scope="col">Date</th>
                  <th data-sort="budget" scope="col">Bill No</th>
                  <th data-sort="budget" scope="col">Bill Amount</th>
                  <th data-sort="budget" scope="col">Status</th>
                </tr>
              </thead>
              <tbody class="list">
                <tr>
                  <td class="budget">21/05/2020</td>
                  <td class="budget">1233233</td>
                  <td class="budget">RM 150</td>
                  <td class="budget">
                    <span class="badge badge-success">Pending</span>
                  </td>
                </tr>
                <tr>
                  <td class="budget">21/06/2020</td>
                  <td class="budget">1123312</td>
                  <td class="budget">RM 150</td>
                  <td class="budget">
                    <span class="badge badge-success">Paid</span>
                  </td>
                </tr>
                <tr>
                  <td class="budget">21/05/2020</td>
                  <td class="budget">1234567</td>
                  <td class="budget">RM 150</td>
                  <td class="budget">
                    <span class="badge badge-warning">Paid</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div style="padding-bottom: 20px;">
      <div class="row">
        <div class="col">
          <div class="chart">
            <div class="amchart" id="chartBillCustBillAnal3"></div>
          </div>
        </div>
      </div>
    </div>
    <div style="padding-bottom: 20px;">
      <div class="row">
        <div class="col">
          <div class="chart">
            <div class="amchart" id="chartBillCustBillAnal8"></div>
          </div>
        </div>

        <div class="col">
          <div class="chart">
            <div class="amchart" id="chartBillCustBillAnal9"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-center">
      <button class="btn btn-default" (click)="successAlert('print report')">
        Print
      </button>
      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>

<ng-template #viewModal>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      View Template
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <img width="100%" src="assets/img/default/invoice-tem.png" />
  </div>

  <div class="modal-footer">
    <div class="text-center">
      <button class="btn btn-default" (click)="successAlert('print data')">
        Print
      </button>
      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>

<ng-template #editModal>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Edit Template
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label class="form-control-label">Message</label>
      <quill-editor></quill-editor>
    </div>
    <div class="form-group">
      <label class="form-control-label">Logo</label>
      <input class="form-control" type="file" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Icon</label>
      <input class="form-control" type="file" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Picture</label>
      <input class="form-control" type="file" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Color</label>
      <input class="form-control" placeholder="Enter Name" type="text" />
    </div>

    <div class="form-group">
      <label class="form-control-label">Customer Segment</label>
      <select class="form-control" type="text">
        <option>Consumer</option>
        <option>SME</option>
        <option>TMOne</option>
        <option>Global</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-control-label">Product And Service</label>
      <select class="form-control" type="text">
        <option>unifi</option>
        <option>voice</option>
        <option>unifi mobile</option>
      </select>
    </div>
    <div class="form-group">
      <label class="form-control-label">Product And Service</label>
      <select class="form-control" type="text">
        <option>unifi</option>
        <option>voice</option>
        <option>unifi mobile</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-control-label">Festive Seasons</label>
      <select class="form-control" type="text">
        <option>Hari Raya</option>
        <option>Chinese New Year</option>
        <option>Deepavali</option>
      </select>
    </div>
  </div>

  <div class="modal-footer">
    <div class="text-center">
      <button class="btn btn-default" (click)="successAlert('edit data')">
        Save
      </button>
      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>
