<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Payment Channel
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-user-shield text-dark"></i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <!-- <a
              href="javascript:void(0)"
              class="btn btn-sm btn-default"
              (click)="openModal(addModal, undefined)"
            >
              Add Payment Channel
            </a> -->
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Total Traffic
                  </h5>
                  <span class="h2 font-weight-bold mb-0"> 350 </span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-red text-white rounded-circle shadow"
                  >
                    <i class="ni ni-active-40"> </i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <span class="text-success mr-2">
                  <i class="fa fa-arrow-up"> </i> 3.48%
                </span>
                <span class="text-nowrap"> Since last month </span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    PAyment Channel
                  </h5>
                  <span class="h2 font-weight-bold mb-0"> 2,356 </span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow"
                  >
                    <i class="ni ni-chart-pie-35"> </i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <span class="text-success mr-2">
                  <i class="fa fa-arrow-up"> </i> 3.48%
                </span>
                <span class="text-nowrap"> Since last month </span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Performance
                  </h5>
                  <span class="h2 font-weight-bold mb-0"> 924 </span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-green text-white rounded-circle shadow"
                  >
                    <i class="ni ni-money-coins"> </i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <span class="text-success mr-2">
                  <i class="fa fa-arrow-up"> </i> 3.48%
                </span>
                <span class="text-nowrap"> Since last month </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <ul class="list-group list-group-flush list">
    <li class="list-group-item px-0">
      <div class="row align-items-center">
        <div class="col-md-3 text-center py-3">
          <img
            width="90%"
            alt="Image placeholder"
            src="assets/img/default/paypal-logo.png"
          />
        </div>

        <div class="col-md-6 py-3 pt-3">
          <h4>Paypal</h4>
          <p>
            A payment channel is any way that a customer can make a payment, or
            anywhere that YOU (the merchant) might accept a payment. Payment
            channels are specifically associated with how the payment is made.
          </p>
        </div>

        <div class="col-md-3">
          <button class="btn btn-info" (click)="successAlert('print')">
            Print
          </button>
          <button
            class="btn btn-success"
            (click)="successAlert('enable payment')"
          >
            Enable
          </button>
          <button
            class="btn btn-danger"
            (click)="successAlert('disable payment')"
          >
            Disable
          </button>
        </div>
      </div>
    </li>
  </ul>
  <br />
  <ul class="list-group list-group-flush list">
    <li class="list-group-item px-0">
      <div class="row align-items-center">
        <div class="col-md-3 text-center py-3">
          <img
            width="90%"
            alt="Image placeholder"
            src="assets/img/default/mb-logo.png"
          />
        </div>

        <div class="col-md-6 py-3 pt-3">
          <h4>Maybank</h4>
          <p>
            A payment channel is any way that a customer can make a payment, or
            anywhere that YOU (the merchant) might accept a payment. Payment
            channels are specifically associated with how the payment is made.
          </p>
        </div>

        <div class="col-md-3">
          <button class="btn btn-info" (click)="successAlert('print')">
            Print
          </button>
          <button
            class="btn btn-success"
            (click)="successAlert('enable payment')"
          >
            Enable
          </button>
          <button
            class="btn btn-danger"
            (click)="successAlert('disable payment')"
          >
            Disable
          </button>
        </div>
      </div>
    </li>
  </ul>
  <br />
  <ul class="list-group list-group-flush list">
    <li class="list-group-item px-0">
      <div class="row align-items-center">
        <div class="col-md-3 text-center py-3">
          <img
            width="90%"
            alt="Image placeholder"
            src="assets/img/default/cimb-logo.png"
          />
        </div>

        <div class="col-md-6 py-3 pt-3">
          <h4>Cimb</h4>
          <p>
            A payment channel is any way that a customer can make a payment, or
            anywhere that YOU (the merchant) might accept a payment. Payment
            channels are specifically associated with how the payment is made.
          </p>
        </div>

        <div class="col-md-3">
          <button class="btn btn-info" (click)="successAlert('print')">
            Print
          </button>
          <button
            class="btn btn-success"
            (click)="successAlert('enable payment')"
          >
            Enable
          </button>
          <button
            class="btn btn-danger"
            (click)="successAlert('disable payment')"
          >
            Disable
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>

<ng-template #addModal>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Tambah Payment Channel
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label class="form-control-label">Nama Payment Channel</label>
      <input class="form-control" placeholder="Enter Name" type="text" />
    </div>
    <div class="form-group">
      <label class="form-control-label"></label>
      <input
        class="form-control"
        placeholder="Enter Amount"
        type="datetime-local"
      />
    </div>
    <div class="form-group">
      <label class="form-control-label">Keterangan</label>
      <input
        class="form-control"
        placeholder="Enter Keterangan"
        type="datetime-local"
      />
    </div>
  </div>

  <div class="modal-footer">
    <div class="text-center">
      <button class="btn btn-default" (click)="successAlert('add new data')">
        Simpan
      </button>
      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Tutup
      </button>
    </div>
  </div>
</ng-template>

<ng-template #editModal>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Edit Payment Channel
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label class="form-control-label">Nama Payment Channel</label>
      <input class="form-control" placeholder="Enter Name" type="text" />
    </div>
    <div class="form-group">
      <label class="form-control-label"></label>
      <input
        class="form-control"
        placeholder="Enter Amount"
        type="datetime-local"
      />
    </div>
    <div class="form-group">
      <label class="form-control-label">Keterangan</label>
      <input
        class="form-control"
        placeholder="Enter Keterangan"
        type="datetime-local"
      />
    </div>
  </div>

  <div class="modal-footer">
    <div class="text-center">
      <button class="btn btn-default" (click)="successAlert('edit data')">
        Simpan
      </button>
      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Tutup
      </button>
    </div>
  </div>
</ng-template>
