<div class="header pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-dark d-inline-block mb-0">
              Chargers Service Tax
            </h6>
  
            <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                  <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0)">
                        <i class="fas fa-user-shield text-dark"></i>
                      </a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0)" class="text-dark">
                        Admin Maintenance
                      </a>
                    </li>
                    <li aria-current="page" class="breadcrumb-item active">
                      Chargers Service Tax
                    </li>
                  </ol>
                </nav> -->
          </div>
          <div class="col-lg-6 col-5 text-right">
            <!-- <a
                href="javascript:void(0)"
                class="btn btn-sm btn-default"
                (click)="openModal(addModal, undefined)"
              >
                Add Chargers Service Tax
              </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header bg-secondary">
              <h3 class="m-0">Search</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">Name</label>
                    <input
                      class="form-control"
                      placeholder="Enter Name"
                      formControlName="name"
                      type="text"
                    />
                  </div>
                </div>
                <div class="col-md-12 col-lg-5">
                  <div class="form-group">
                    <label class="form-control-label">Code</label>
                    <input class="form-control" type="text" />
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-center">
              <button
                class="btn btn-primary"
                (click)="successAlert('search Receipt')"
              >
                Search
              </button>
            </div>
          </div>
        </div>
      </div> 
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h3 class="m-0">Service Tax</h3>
          </div>
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="-1">All</option>
                    </select>
                    records
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <!-- <div id="datatable_filter" class="dataTables_filter">
                                    <label>
                                      <input
                                        type="search"
                                        class="form-control form-control-sm"
                                        placeholder="Search records"
                                        aria-controls="datatable"
                                        (keyup)="filterTable($event)"
                                      />
                                    </label>
                                  </div> -->
              </div>
            </div>
  
            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="tableEntries != -1 ? tableEntries : undefined"
              [rows]="listChargersReward"
              (activate)="onActivate($event)"
            >
              <ngx-datatable-column name="No">
                <ng-template
                  let-rowIndex="rowIndex"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  <strong>{{ rowIndex + 1 }}</strong>
                </ng-template>
              </ngx-datatable-column>
  
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Tax Name</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.cust }}
                </ng-template>
              </ngx-datatable-column>
  
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Tax Code</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.point }}
                </ng-template>
              </ngx-datatable-column>
  
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #addModal>
    <div class="modal-header bg-default">
      <h6 class="modal-title text-white my-auto" id="modal-title-default">
        Tambah Chargers Service Tax
      </h6>
  
      <button
        aria-label="Close"
        class="close"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        <span aria-hidden="true" class="text-white my-auto"> × </span>
      </button>
    </div>
  
    <div class="modal-body">
      <div class="form-group">
        <label class="form-control-label">Nama Chargers Service Tax</label>
        <input class="form-control" placeholder="Enter Name" type="text" />
      </div>
      <div class="form-group">
        <label class="form-control-label"></label>
        <input
          class="form-control"
          placeholder="Enter Amount"
          type="datetime-local"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Keterangan</label>
        <input
          class="form-control"
          placeholder="Enter Keterangan"
          type="datetime-local"
        />
      </div>
    </div>
  
    <div class="modal-footer">
      <div class="text-center">
        <button class="btn btn-default" (click)="successAlert('add new data')">
          Simpan
        </button>
        <button
          class="btn btn-outline-danger ml-auto"
          data-dismiss="modal"
          type="button"
          (click)="closeModal()"
        >
          Tutup
        </button>
      </div>
    </div>
  </ng-template>
  
  <ng-template #editModal>
    <div class="modal-header bg-default">
      <h6 class="modal-title text-white my-auto" id="modal-title-default">
        Edit Chargers Service Tax
      </h6>
  
      <button
        aria-label="Close"
        class="close"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        <span aria-hidden="true" class="text-white my-auto"> × </span>
      </button>
    </div>
  
    <div class="modal-body">
      <div class="form-group">
        <label class="form-control-label">Nama Chargers Service Tax</label>
        <input class="form-control" placeholder="Enter Name" type="text" />
      </div>
      <div class="form-group">
        <label class="form-control-label"></label>
        <input
          class="form-control"
          placeholder="Enter Amount"
          type="datetime-local"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Keterangan</label>
        <input
          class="form-control"
          placeholder="Enter Keterangan"
          type="datetime-local"
        />
      </div>
    </div>
  
    <div class="modal-footer">
      <div class="text-center">
        <button class="btn btn-default" (click)="successAlert('edit data')">
          Simpan
        </button>
        <button
          class="btn btn-outline-danger ml-auto"
          data-dismiss="modal"
          type="button"
          (click)="closeModal()"
        >
          Tutup
        </button>
      </div>
    </div>
  </ng-template>
  