<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Senarai Pemohonan
          </h6>

          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="javascript:void(0)">
                    <i class="fas fa-user-shield text-dark"></i>
                  </a>
                </li>
                <li class="breadcrumb-item">
                  <a href="javascript:void(0)" class="text-dark">
                    Admin Maintenance
                  </a>
                </li>
                <li aria-current="page" class="breadcrumb-item active">
                  Group Profile
                </li>
              </ol>
            </nav> -->
        </div>
        <div class="col-lg-6 col-5 text-right">
          <!-- <a
              href="javascript:void(0)"
              class="btn btn-sm btn-default"
              (click)="openModal(addModal, undefined)"
            >
              Add Group Profile
            </a> -->
        </div>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col text-center">
                  <h5
                    class="card-title text-uppercase text-muted mb-0 text-center"
                  >
                    Jumlah Pemohonan
                  </h5>
                  <br />

                  <span class="h2 font-weight-bold mb-0 text-center"> 3 </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col text-center">
                  <h5
                    class="card-title text-uppercase text-muted mb-0 text-center"
                  >
                    Temuduga
                  </h5>
                  <br />

                  <span class="h2 font-weight-bold mb-0 text-center"> 2 </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col text-center">
                  <h5
                    class="card-title text-uppercase text-muted mb-0 text-center"
                  >
                    Pinjaman/Biasiswa
                  </h5>
                  <br />

                  <span class="h2 font-weight-bold mb-0 text-center"> 2 </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col text-center">
                  <h5
                    class="card-title text-uppercase text-muted mb-0 text-center"
                  >
                    Ditolak
                  </h5>
                  <br />

                  <span class="h2 font-weight-bold mb-0 text-center"> 2 </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-header">
          <h3 class="m-0">Pemohonan</h3>
        </div>
        <div class="card-body">
          <div
            style="width: 100%; height: 275px;"
            id="chartAmmGroupProfile"
          ></div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-header"><h5 class="h3 mb-0">Status Pemohonan</h5></div>

        <div class="card-body">
          <ul class="list-group list-group-flush list my--3">
            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col">
                  <h5>Pemohonan 1</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="warning" [value]="60"> </progressbar>
                  </div>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col">
                  <h5>Pemohonan 2</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="success" [value]="100"> </progressbar>
                  </div>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col">
                  <h5>Pemohonan 3</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="danger" [value]="72"> </progressbar>
                  </div>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col">
                  <h5>Pemohonan 4</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="info" [value]="90"> </progressbar>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col">
                  <h5>Pemohonan 5</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="info" [value]="90"> </progressbar>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <h3 class="m-0">Cari Pemohonan</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">Nama</label>
                <input
                  class="form-control"
                  placeholder="Enter Nama"
                  formControlName="name"
                  type="text"
                />
              </div>
            </div>
            <div class="col-md-12 col-lg-5">
              <div class="form-group">
                <label class="form-control-label">Julat Tarikh</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="far fa-calendar-alt"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    bsDaterangepicker
                    [bsConfig]="bsDPConfig"
                    placeholder="Date range"
                    name="bsDaterangepicker"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-primary" (click)="successAlert('Cari')">
            Cari
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="m-0">Senarai Pemohonan</h3>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Tunjuk
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="-1">All</option>
                  </select>
                  rekod
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <!-- <div id="datatable_filter" class="dataTables_filter">
                                <label>
                                  <input
                                    type="search"
                                    class="form-control form-control-sm"
                                    placeholder="Search records"
                                    aria-controls="datatable"
                                    (keyup)="filterTable($event)"
                                  />
                                </label>
                              </div> -->
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="tableEntries != -1 ? tableEntries : undefined"
            [rows]="listAmmGroupProfile"
            (activate)="onActivate($event)"
          >
            <ngx-datatable-column name="No">
              <ng-template
                let-rowIndex="rowIndex"
                let-row="row"
                ngx-datatable-cell-template
              >
                <strong>{{ rowIndex + 1 }}</strong>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>No Rujukan</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.cust }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Pinjaman/Biasiswa</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.description }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Status</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span
                  *ngIf="row.status == 'CO'"
                  class="badge badge-pill badge-success"
                  >Selesai</span
                >
                <span
                  *ngIf="row.status == 'RE'"
                  class="badge badge-fill badge-danger"
                  >Ditolak</span
                >
                <span
                  class="badge badge-fill badge-warning"
                  *ngIf="row.status == 'IP'"
                  >Dalam Proses</span
                >
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Created</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.created_at | date: "dd/MM/yyyy" }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span></span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <!-- <a (click)="openModal(editModal, row)" style="cursor: pointer;">
                  <i class="fas fa-edit "></i>
                </a>
                &nbsp;&nbsp;&nbsp; -->
                <a
                  (click)="successAlert('Muat Turun Fail')"
                  style="cursor: pointer;"
                >
                  <i class="fas fa-download"></i></a
                >&nbsp;&nbsp;&nbsp;
                <a
                  (click)="successAlert('Muat Turun Fail')"
                  style="cursor: pointer;"
                >
                  <i class="fas fa-print"></i
                ></a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #addModal>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Add Group Profile
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label class="form-control-label">Name</label>
      <input class="form-control" placeholder="Enter Name" type="text" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Retention Period</label>
      <input
        class="form-control"
        placeholder="Enter Amount"
        type="datetime-local"
      />
    </div>
    <div class="form-group">
      <label class="form-control-label">Detail</label>
      <input
        class="form-control"
        placeholder="Enter Detail"
        type="datetime-local"
      />
    </div>
  </div>

  <div class="modal-footer">
    <div class="text-center">
      <button class="btn btn-default" (click)="successAlert('add new data')">
        Save
      </button>
      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>

<ng-template #editModal>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Edit Group Profile
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label class="form-control-label">Name</label>
      <input class="form-control" placeholder="Enter Name" type="text" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Retention Period</label>
      <input
        class="form-control"
        placeholder="Enter Amount"
        type="datetime-local"
      />
    </div>
    <div class="form-group">
      <label class="form-control-label">Detail</label>
      <input
        class="form-control"
        placeholder="Enter Detail"
        type="datetime-local"
      />
    </div>
  </div>

  <div class="modal-footer">
    <div class="text-center">
      <button class="btn btn-default" (click)="successAlert('edit data')">
        Save
      </button>
      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>
