<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Chargers Reward
          </h6>

          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item">
                    <a href="javascript:void(0)">
                      <i class="fas fa-user-shield text-dark"></i>
                    </a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="javascript:void(0)" class="text-dark">
                      Admin Maintenance
                    </a>
                  </li>
                  <li aria-current="page" class="breadcrumb-item active">
                    Chargers Reward
                  </li>
                </ol>
              </nav> -->
        </div>
        <div class="col-lg-6 col-5 text-right">
          <!-- <a
              href="javascript:void(0)"
              class="btn btn-sm btn-default"
              (click)="openModal(addModal, undefined)"
            >
              Add Chargers Reward
            </a> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3 class="m-0">Chargers Reward</h3>
        </div>
        <div class="card-body">
          <div
            style="width: 100%; height: 325px;"
            id="chartChargersReward"
          ></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header"><h5 class="h3 mb-0">Reward Value</h5></div>

        <div class="card-body">
          <ul class="list-group list-group-flush list my--3">
            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/default/profile.png"
                    />
                  </a>
                </div>

                <div class="col">
                  <h5>Reward 1</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="warning" [value]="60"> </progressbar>
                  </div>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/default/profile.png"
                    />
                  </a>
                </div>

                <div class="col">
                  <h5>Reward 2</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="success" [value]="100"> </progressbar>
                  </div>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/default/profile.png"
                    />
                  </a>
                </div>

                <div class="col">
                  <h5>Reward 3</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="danger" [value]="72"> </progressbar>
                  </div>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/default/profile.png"
                    />
                  </a>
                </div>

                <div class="col">
                  <h5>Reward 4</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="info" [value]="90"> </progressbar>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header bg-secondary">
              <h3 class="m-0">Search</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">Name</label>
                    <input
                      class="form-control"
                      placeholder="Enter Name"
                      formControlName="name"
                      type="text"
                    />
                  </div>
                </div>
                <div class="col-md-12 col-lg-5">
                  <div class="form-group">
                    <label class="form-control-label">Date range</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="far fa-calendar-alt"></i
                        ></span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        bsDaterangepicker
                        [bsConfig]="bsDPConfig"
                        placeholder="Date range"
                        name="bsDaterangepicker"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-center">
              <button
                class="btn btn-primary"
                (click)="successAlert('search Receipt')"
              >
                Search
              </button>
            </div>
          </div>
        </div>
      </div> -->

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="m-0">Reward</h3>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="-1">All</option>
                  </select>
                  records
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <!-- <div id="datatable_filter" class="dataTables_filter">
                                  <label>
                                    <input
                                      type="search"
                                      class="form-control form-control-sm"
                                      placeholder="Search records"
                                      aria-controls="datatable"
                                      (keyup)="filterTable($event)"
                                    />
                                  </label>
                                </div> -->
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="tableEntries != -1 ? tableEntries : undefined"
            [rows]="listChargersReward"
            (activate)="onActivate($event)"
          >
            <ngx-datatable-column name="No">
              <ng-template
                let-rowIndex="rowIndex"
                let-row="row"
                ngx-datatable-cell-template
              >
                <strong>{{ rowIndex + 1 }}</strong>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Unifi Reward</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.cust }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Total Reward Point</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.point }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Total Expiry</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.exp_point }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Expiry Date</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.created_at | date: "dd/MM/yyyy" }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Status</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row.status == 'A'" class="badge badge-fill badge-info">Active</span>
                <span *ngIf="row.status == 'R'" class="badge badge-fill badge-success">Redeemed</span>
                <span *ngIf="row.status == 'E'" class="badge badge-fill badge-danger">Expired</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span></span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a (click)="openModal(editModal, row)" style="cursor: pointer;">
                  <i class="fas fa-edit fa-2x"></i></a
                >&nbsp;&nbsp;&nbsp;
                <a (click)="confirm()" style="cursor: pointer;">
                  <i class="fas fa-trash-alt fa-2x"></i
                ></a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #addModal>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Tambah Chargers Reward
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label class="form-control-label">Nama Chargers Reward</label>
      <input class="form-control" placeholder="Enter Name" type="text" />
    </div>
    <div class="form-group">
      <label class="form-control-label"></label>
      <input
        class="form-control"
        placeholder="Enter Amount"
        type="datetime-local"
      />
    </div>
    <div class="form-group">
      <label class="form-control-label">Keterangan</label>
      <input
        class="form-control"
        placeholder="Enter Keterangan"
        type="datetime-local"
      />
    </div>
  </div>

  <div class="modal-footer">
    <div class="text-center">
      <button class="btn btn-default" (click)="successAlert('add new data')">
        Simpan
      </button>
      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Tutup
      </button>
    </div>
  </div>
</ng-template>

<ng-template #editModal>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Edit Chargers Reward
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label class="form-control-label">Nama Chargers Reward</label>
      <input class="form-control" placeholder="Enter Name" type="text" />
    </div>
    <div class="form-group">
      <label class="form-control-label"></label>
      <input
        class="form-control"
        placeholder="Enter Amount"
        type="datetime-local"
      />
    </div>
    <div class="form-group">
      <label class="form-control-label">Keterangan</label>
      <input
        class="form-control"
        placeholder="Enter Keterangan"
        type="datetime-local"
      />
    </div>
  </div>

  <div class="modal-footer">
    <div class="text-center">
      <button class="btn btn-default" (click)="successAlert('edit data')">
        Simpan
      </button>
      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Tutup
      </button>
    </div>
  </div>
</ng-template>
