// // @charset "UTF-8";
// // @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

// @page {
//   margin: 3cm;

//   @bottom-left {
//     color: #e77b08;
//     content: "TM | iBill";
//   }

//   @bottom-right {
//     color: #e77b08;
//     content: "Private & Confidential";
//     font-size: 9pt;
//   }
// }

// html {
//   font-family: Source Sans Pro !important;
// }

// html body {
//   margin: 0;
// }

// html header {
//   /*background: #55e432; */
//   padding: 15px;
// }

// html .titles {
//   margin: auto !important;
//   display: inline-block !important;
//   vertical-align: middle !important;
// }

// html .mbpj-title {
//   padding: 0;
//   margin: 0;
//   color: #e77b08;
//   vertical-align: middle;
// }

// html .report-title {
//   padding: 0;
//   margin: 0;
//   color: #e77b08;
//   vertical-align: middle;
// }

// html img#mbpj-logo {
//   display: block;
//   max-width: 100px;
//   margin-right: 20px;
// }

// html section {
//   padding: 15px;
//   background-color: #e77b08;
//   display: flex;
// }

// html section.subs {
//   padding: 15px;
//   background-color: #f3f3f3;
//   display: flex;
// }

// html section#top {
//   margin-top: 10px;
// }

// html .types {
//   color: #000;
//   font-size: 0.6rem;
//   font-weight: 300;
// }

// html .subsection {
//   width: 50%;
//   text-align: left;
// }

// table {
//   border-collapse: collapse;
//   width: 100%;
//   margin: auto;
// }

// td,
// th {
//   border: 1px solid #dddddd;
//   // text-align: center;
//   padding: 8px;
// }

// tr:nth-child(even) {
//   background-color: #dddddd;
// }

// h1 {
//   font-family: "Open Sans", arial, serif;
// }
// h2 {
//   font-family: "Open Sans", arial, serif;
// }
// h3 {
//   font-family: "Open Sans", arial, serif;
// }
// h4 {
//   font-family: "Open Sans", arial, serif;
// }
// h5 {
//   font-family: "Open Sans", arial, serif;
// }
// h6 {
//   font-family: "Open Sans", arial, serif;
// }
// p {
//   font-family: "Open Sans", arial, serif;
// }
// // </style>

// @page {
//   margin: 0.5cm;
// ​
//   /* @bottom-left {
//       color: #1f407e;
//       content: 'TM | iBill';
//   }
// ​
//   @bottom-right {
//       color: #1f407e;
//       content: 'Private & Confidential';
//       font-size: 9pt;
//   } */
// }
.invoice-box {
  max-width: 800px;
  margin: auto;
  /* padding: 30px; */
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 24px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #555;
}

.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
  text-align: right;
}

.invoice-box table tr.top table td {
  padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}

.invoice-box table tr.information table td {
  padding-bottom: 40px;
}

.invoice-box table tr.heading td {
  background: #1f407e;
  border-bottom: 1px solid #ddd;
  color: white;
  font-weight: bold;
}

.invoice-box table tr.total td {
  background: #c2c2c2;
  border-bottom: 1px solid #b8b8b8;
  font-weight: bold;
}

.invoice-box table tr.details td {
  padding-bottom: 20px;
}

.invoice-box table tr.item td {
  border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
  border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
  border-top: 2px solid #eee;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .invoice-box table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
  }

  .invoice-box table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
  }
}

/** RTL **/
.rtl {
  direction: rtl;
  font-family: Tahoma, "Helvetica Neue", "Helvetica", Helvetica, Arial,
    sans-serif;
}

.rtl table {
  text-align: right;
}

.rtl table tr td:nth-child(2) {
  text-align: left;
}
